<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../central.css">
  <link rel="stylesheet" href="login.component.css">
  <title>Login</title>
</head>

<body>

<div class="background-image">
  <img src="https://imgur.com/MICJbtV.jpg" alt="Background Image" class="background-img">

  <div class="login-container">

    <div class="text-shadow">
      <h1 class="text-6xl font-bold" style="color: #cccccc; margin-top: 3%">Login</h1>
    </div>

    <div class="blurred-background" style="margin-left: 20%; margin-right: 20%; ; margin-top: 0%">
      <!-- Username field -->
      <div class="form-group">
        <input type="text" id="username" class="form-control-lg border blurred-input" placeholder="Benutzername" required>
      </div>

      <!-- Password field -->
      <div class="form-group" style="margin-top: 8px">
        <input type="password" id="password" class="form-control-lg border blurred-input" placeholder="Passwort" required>
      </div>

      <!-- Login and Create Account buttons -->
      <div class="form-group mt-6">
        <button type="button" id="create-account" class="button2" style="margin-left: 10px; margin-top: 16px">Account erstellen</button>
        <button type="button" id="login" class="button1" style="margin-left: 10px;">Anmelden</button>
      </div>

      <!-- Message display area -->
      <div id="message" class="text-red-800 mt-4"></div>
    </div>
  </div>
</div>

<!-- Link the JavaScript file here -->
<script src="login.component.js"></script>
</body>
</html>
