.background-container {
  position: relative;
}

.text-shadow {
  text-shadow: 1px 1px 2px #595959;
}

.background-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  text-shadow: 1px 1px 2px #595959;
}

.blurred-background {
  background: rgba(255, 255, 255, 0.6); /*halbtransparenter weißer hintergrund*/
  backdrop-filter: blur(5px); /*hintergrundbild verschwommen*/
  border-radius: 10px; /*abgerundete ecken optional*/
  padding: 20px; /*innenabstand*/
}

.blurred-input {
  background: rgba(255, 255, 255, 0.6); /*halbtransparenter weißer hintergrund für eingabefelder*/
  backdrop-filter: blur(5px); /*hintergrundbild leicht verschwommen*/
  border: none; /*rand der eingabefelder entfernen*/
  padding: 10px; /*innenabstand der eingabefelder*/
  border-radius: 5px; /*abgerundete ecken für eingabefelder*/
  width: 100%; /*eingabefelder auf volle breite setzen*/
  box-sizing: border-box; /*berücksichtigt innenabstand und rand in der gesamtbreite*/
}

.form-group {
  font-family: 'Jaro', sans-serif;
}

.login-container {
  text-align: center;
}

h1 {
  font-family: "Jaro",
  sans-serif;
}