body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url('https://imgur.com/d1DY6oy.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.game-container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0);
    width: 80%;
    max-width: 900px;
    transition: background-color 0.3s; /* Smooth transition for background change */
}

/* Style for incorrect guess */
.incorrect {
    background-color: rgba(180, 0, 0, 0.5); /* Red background when the guess is incorrect */
}

/* Style for correct guess */
.correct {
    background-color: rgba(0, 180, 0, 0.5); /* Red background when the guess is incorrect */
}

/* Style for default */
.default {
    background-color: rgba(255, 255, 255, 0.2);
}


#country-comparison {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.country {
    flex: 1;
    margin: 10px;
    padding: 20px;
    border: 2px solid #ddd;
    border-radius: 8px;
    background-color: #007BFF;
    font-size: 1.2em;
    text-align: center;
}

#vs-sign {
    height: 50px; /* Set the height of the VS image */
    width: auto; /* Maintain the aspect ratio */
    margin: 0 20px; /* Space around the VS image */
}

.country h2 {
    font-size: 1.5em;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
}

.game-button, .menu-button {
    padding: 15px 20px;
    font-size: 18px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.game-button:hover, .menu-button:hover {
    background-color: #0056b3;
}

.hidden {
    display: none;
}
